<div class="card m-3 col-5">
    <h5 class="card-header">Sign-up</h5>
    <div class="card-body">
        <form [formGroup]='registerForm' (ngSubmit)='onSubmit()'>
            <div class="form-group">
                <div class="form-group col">
                    <label>City</label>
                    <input type="number" formControlName='city' [ngClass]='{ "is-invalid": submitted && f.city.errors }'
                        class="form-control" />
                    <div *ngIf='submitted && f.city.errors' class="invalid-feedback">
                        <div *ngIf='f.city.errors.required'>City is required</div>
                    </div>
                </div>
                <div class="form-group col">
                    <label>Address</label>
                    <input type="text" formControlName='street' [ngClass]='{ "is-invalid":submitted &&  f.street.errors }'
                        class="form-control">
                    <div *ngIf='submitted && f.street.errors' class="invalid-feedback">
                        <div *ngIf='f.street.errors.required'>Street is required</div>
                    </div>
                </div>
                    <div class="form-group col">
                        <label>Full name</label>
                        <input type="text" formControlName='fullName' [ngClass]='{"is-invalid":submitted &&  f.fullName.errors}' class="form-control">
                        <div *ngIf='submitted && f.fullName.errors' class="invalid-feedback">
                            <div *ngIf='f.fullName.errors.required'>Password is required</div>
                            <div *ngIf='f.fullName.errors.maxLength'>Full name must contain a maximum of 30 characters</div>
                        </div>
                    </div>
            </div>
            <div class="form-group">
                <button>Submit</button>
            </div>
        </form>
    </div>
</div>